/* DOCS */
.docsAll {}
.docsSingle { display:block; }
.docsSingle .imgCont { display: block; margin-bottom: 10px; position: relative; width: 100%; overflow: hidden; background: #EEE; }
.docsSingle .imgCont::before { content: ''; display: block; margin-top: 56.25%; width: 100%; }
.docsSingle .imgCont img { position:absolute; top:0; left:0; width:100%; }
.docsSingle .title { font-weight:bold; }

.docMain { }
.docMain a.category { display:block; margin-bottom:20px; font-size:1.4rem; text-align:center; color:#c39f76; font-weight:bold; }
.docMain a.category:hover { text-decoration:underline; }
.docMain .title { margin-bottom:20px; font-size:2.8rem; }
.docMain article .title { margin-bottom:20px; font-size:3.1rem; text-align:center; }
.docMain .info { margin-bottom:20px; color:#999999; text-align:center; }
.docMain .content { margin-bottom:20px; }
.docMain img { max-width: 100%; }
.docMain .mainImg { display:block; margin:0 auto 20px auto; width:100%; }
.docMain .mainVideo { position:relative; padding-bottom:56.25%; height:0; margin-bottom:20px; }
.docMain .mainVideo iframe, .docMain .mainVideo object, .docMain .mainVideo embed { position:absolute; top:0; left:0; width:100%; height:100%; border:0; padding:0; margin:0; }
.docMain .endContent { display:flex; border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin-bottom:20px; overflow: visible; }
.docMain .endContent > * { flex:1; padding:10px; border-left:1px solid #CCC; text-align:center; }
.docMain .endContent > *:first-child { border-left:0; }
.docMain .endContent a.user { color:#555; }
.docMain .endContent .share { flex-grow:2; }
.docMain .docMainLike { }
.docMain .content { font-size:2.0rem; line-height:170%; }

.docs_mobile_nav { display:none; height:50px; justify-content:space-between; background-color:var(--color-main-07-norm-n); color:var(--color-main-07-comp-n); }
.docs_mobile_nav .navBut { display:inline-flex; justify-content:center; align-items:center; width:50px; height:50px; top:0; left:0; color:var(--color-main-07-comp-n); }
.docs_mobile_nav .navBut:hover { background-color:var(--color-main-07-norm-n-hover); color:var(--color-main-07-comp-n-hover); }
.docs_mobile_nav a.navBut[href=""] { visibility:hidden; }

.docs_side_menu { font-size:1.5rem; }
.docs_side_menu .mini_title { margin-bottom:10px; font-weight:bold; font-size:1.4em; }
.docs_side_menu .side_nav + .side_nav { margin-top:20px; }

/* */
.docsMenu { margin-bottom:10px; }
.docsMenu.docs a { display:flex; padding:3px 1px; }
.docsMenu.docs a + a.docs {}
.docsMenu.docs a:before { content:attr(data-order) ". "; min-width:1.5em; display:inline-block; }
.docsMenu.docs a:hover { text-decoration:underline; }
.docsMenu.docs a[data-level="1"]:before {}
.docsMenu.docs a[data-level="2"]:before { margin-left:15px; }
.docsMenu.docs a[data-level="5"]:before { margin-left:60px; }
.docsMenu.docs a[data-level="3"]:before { margin-left:30px; }
.docsMenu.docs a[data-level="4"]:before { margin-left:45px; }
.docsMenu.docs a[data-current="1"] { text-decoration:underline; background-color:#EEE; }

.breadcrumbs_mobile {}
.breadcrumbs_mobile a { display:block; padding:5px 0; }
.breadcrumbs_mobile a:before { content:'•'; margin-right:10px; }

/* Doc Single */
#documentPost article > .title { font-size:4.4rem; font-family:Georgia, Times, Times New Roman, serif; font-weight:bold; }
#documentPost .adv_text { font-size:1.8rem; line-height:150%; }



/* Modo celular */
@media only screen and (max-width:767px) {
	.docMain .content { font-size:1.6rem; }
	.docs_mobile_nav { display:flex; }
	.docs_side_menu { display:none; font-size:1.8rem; padding:15px; background-color:#EEE; }
	.docs_side_menu.active { display:block; }
	.docsMenu.docs a { padding:6px 0; }
}

/* Modo tablet */
@media only screen and (min-width:768px) and (max-width:1024px) {
	.docMain .content { font-size:1.8rem; }
}
