/*
BLOG
---------------------------------------->*/
.post { margin-bottom:20px; clear:both; display:block; overflow:visible; }
.post a.category { font-size:1.4rem; text-align:center; color:var(--color-main-01-norm-n); font-weight:bold; }
.post a.category:hover { text-decoration:underline; }
.post article h1.title { margin-bottom:20px; font-size:3.1rem; text-align:center; }
.post .info { margin-bottom:10px; color:#999999; text-align:center; display:flex; justify-content:space-between; }
.post  article > .content { margin-bottom:20px; font-size:1.8rem; line-height:170%; }
.post img { max-width:100%; }
.post .mediaContainer { position:relative; margin-bottom:20px; }
.post .mediaContainer img { display:block; margin:0 auto; width:100%; height:100%; }
.post .mediaContainer iframe, .post .mediaContainer object, .post .mediaContainer embed { width:100%; border:0; padding:0; margin:0; aspect-ratio:16 / 9; }
.post .endContent { display:flex; border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin-bottom:20px; overflow:visible; gap:20px }
.post .endContent > * { flex:1; padding:10px; border-left:1px solid #CCC; text-align:center; }
.post .endContent > *:first-child { border-left:0; }
.post .postLike { }
.post .likeBtn { border-radius:5px; padding:10px; background-color:#F5F5F5; }

/* Modo celular */
@media only screen and (max-width:767px) {
	.post  article > .content { font-size:1.6rem; line-height:150%; }
	.post .mediaContainer { width:100vw; position:relative; left:calc(-50vw + 50%); }
	.post .mediaContainer img, .post .mediaContainer iframe, .post .mediaContainer object, .post .mediaContainer embed { width:100vw; }
}

/* Modo tablet */
@media only screen and (min-width:768px) and (max-width:1024px) {
	.post  article > .content { font-size:1.7rem; }
}


#postLike { display:inline-block; margin-right:10px; }
/* Datos usuario */
.blog_user { display:block; border:1px solid #AAA; background-color:#FAFAFA; margin-bottom:20px; padding:10px; overflow:auto; }
.blog_user .userImg { display:block; float:left; width:75px; height:75px; border-radius:50%; background-color:#DDD; margin-right:10px; }
.blog_user .uData { display:flex; flex-direction:column; height:100%; }
.blog_user .uData .title { font-weight:bold; margin-bottom:10px; }
.blog_user .uData .desc { flex:1; margin-bottom:10px; }
.blog_user .uData .socnet a { color:#555; padding:3px; border-radius:3px; background-color:#eee; width:24px; height:24px; display:inline-block; text-align:center; margin-right:5px; }
/* Sección de búsqueda */
.postMini {}
.postMini + .postMini { padding-top:20px; margin-top:20px; border-top:1px solid #CCC; }
.postMini a { box-sizing:border-box; }
.postMini .body { display:flex; overflow:auto; }
.postMini .imgCont { display:block; position:relative; overflow:hidden; width:320px; margin-right:20px; border:1px solid #DDD; background:#EEE; }
.postMini .imgCont:after { padding-top:56.25%; display:block; content:''; }
.postMini .imgCont img { position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; }
.postMini img[src=""] { display:none; }
.postMini .contentSmall { flex:1; }
.postMini a.category { display:block; font-size:1.3rem; font-weight:bold; color:var(--color-main-04-norm-n); margin-bottom:10px; }
.postMini a.title { display:block; font-weight:bold; font-size:2.1rem; text-align:left; color:#000; margin-bottom:10px; }
.postMini .desc { margin-bottom:10px; }
.postMini .info { color:#777; font-size:1.2rem; }
/*  */
a.postLink2 { display:block; color:inherit; }
a.postLink2 + a.postLink2 { margin-top:10px; }
a.postLink2 .imgCont { display:block; overflow:hidden; margin-bottom:5px; border-radius:2px; }
a.postLink2 .imgCont img { display:block; width:100%; height:100%; aspect-ratio:16 / 9; object-fit:cover; background:#EEE; }
a.postLink2 .pl_title { font-size:1.3rem; font-weight:bold; }
a.postLink2 .pl_data { font-size:1.3rem; }
a.postLink2:hover { background-color:#F5F5F5; }
a.postLink2:hover img { filter:blur(2px); }
/* */
.postMini.status1 { border-right:5px solid #51cc3f; }
.postMini.status2 { border-right:5px solid #cc6773; }
/*
Otros Dispositivos
---------------------------------------->*/
@media only screen and (max-width:630px) {
	.postMini .imgCont { width:200px; }
}
@media only screen and (max-width:480px) {
	.postMini .body { display:block; width:100%; }
	.postMini .mainImg { display:block; margin:0 auto 20px; }
	.postMini .imgCont { display:block; width:100%; float:none; margin-right:0; margin-bottom:10px; }
}
